{{define "config"}}
{
    settings: {
        showPopoutIcon: false
    },
    dimensions: {
        borderWidth: 2
    },
    content: [{
        type: 'row',
        content: [{
                type: "component",
                componentName: "canvas",
                title: "canvas101",
                isClosable: false,
                componentState: {
                    "name": "101",
                    "render": "hic",
                    "server": "#"
                }
            },
            {
                type: "component",
                componentName: "canvas",
                title: "canvas102",
                componentState: {
                    "name": "102",
                    "render": "simple",
                    "server": "#",

                }
            }
        ]
    }]
}
{{end}}

{{define "title"}} Scope{{.Version}} {{end}}
{{define "id"}} "ScopeE5.V2"{{end}}
{{define "html"}}
  {{template "scope"}}
{{end}}
