
{{define "title"}} Scope{{.Version}} {{end}}
{{define "id"}} "ScopeE7"{{end}}
{{define "html"}}
<html>

<head>
    <title>{{template "title"}}</title>
    {{template "css"}}
    <link rel="stylesheet" href="/style0/snow.css">
    {{template "lib"}}
    <script src="/lib0/snow.js"></script>
</head>

<body>
    {{template "menubar"}}
    <div id="wrapper">
        <div id="menuContainer">

        </div>
        <div id="layoutContainer"></div>
    </div>
  <template type="text/html" id="cfgbtn">
  <div class='config'>
    <span class='glyphicon glyphicon-cog'></span>
  </div>
</template>
    <template type="text/html" id="panel">
  <div class="content">
  </div>
  <div class="cfg">
  </div>
</template>
<a id="downloadAnchorElem" style="display:none"></a>
</body>
<!--
<script type="text/javascript" src="/lib/dat.gui.min.js"></script>
<link rel="stylesheet" href="/css/dat-gui-light-theme.css">
-->
<script>


    (function($, d3, S) {
        var server = ""; //TODO
        var isAstilectron = false;
        document.addEventListener('astilectron-ready', function() {
          isAstilectron = true;
        })
        var generateLinks = function(name,app) {
          var para = [];
          for (var k in app) {
            para.push(k+"="+app[k])
          }
          var paras = para.join("&")
          var link = server + "/v1/"+name+".html?"+paras
          return link
        }


        var stateId = "ScopeE7"
        var links = []
        d3.json(server+"/config/ls",function(d){
          console.log(d)
          for (k in d) {
            var app = {
              "config":server+"/config/get/"+k
            }
            link = generateLinks("web",app)
            links.push({"name":k})
          }
          console.log(links)
          callback(links)
        })
        var callback=function(d) {
          d3.select("#layoutContainer")
          .selectAll(".panel")
          .data(d)
          .enter()
          .append("div")
          .classed("panel",true)
          //.append("a")
          /*
          .attr("href",function(d){
            return d.link
          })
          */
          .text(function(d){
            return d.name
          })
          .on("click",function(d){
            var app = {
              "config":server+"/config/get/"+d.name
            }
              if (isAstilectron) {
                window.location.replace(generateLinks("index",app))
              } else {
                window.location.replace(generateLinks("web",app))
              }
          })
        }

    }(jQuery, d3, snow))
</script>

</html>
{{end}}
