{{define "title"}} UCSC {{end}}

{{define "html"}}
<html>

<head>
    <title>{{template "title"}}</title>
    {{template "css"}}
    <link rel="stylesheet" href="/style0/snow.css"> {{template "lib"}}
    <script src="/lib0/snow.js"></script>
</head>

<body>
</body>

</html>
{{end}}
