{{define "css"}}
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/goldenlayout-base.css">
<link rel="stylesheet" href="/css/goldenlayout-light-theme.css">
{{end}}
