{{define "css"}}
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/goldenlayout-base.css">
<link rel="stylesheet" href="/css/goldenlayout-light-theme.css">
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<link rel="stylesheet" href="/css/ideogram.css">
<link rel="stylesheet" href="/css/dat-gui-light-theme.css">
{{end}}
